@font-face {
    font-family: ‘Grotesk_45_ExLt’;
    src: url(‘/fonts/Neue Haas Grotesk/NHaasGroteskDSStd-35XLt.otf’) format(‘opentype’);
}

@font-face {
    font-family: ‘Grotesk_45_Lt’;
    src: url(‘/fonts/Neue Haas Grotesk/NHaasGroteskDSStd-45Lt.otf’) format(‘opentype’);
}

@font-face {
    font-family: ‘Grotesk_55_Rg’;
    src: url(‘/fonts/Neue Haas Grotesk/NHaasGroteskDSStd-55Rg.otf’) format(‘opentype’);
}

@font-face {
    font-family: ‘Grotesk_65_Md’;
    src: url(‘/fonts/Neue Haas Grotesk/NHaasGroteskDSStd-65Md.otf’) format(‘opentype’);
}

@font-face {
    font-family: ‘Grotesk_75_Bold’;
    src: url(‘/fonts/Neue Haas Grotesk/NHaasGroteskDSStd-75Bd.otf’) format(‘opentype’);
}

.grotesk_45_exlt {
    font-size: 62.5%;
    font-family: “Grotesk_45_ExLt”;
}

.grotesk_45_lt {
    font-size: 62.5%;
    font-family: “Grotesk_45_Lt”;
}

.grotesk_55_rg {
    font-size: 62.5%;
    font-family: “Grotesk_55_Rg”;
}

.grotesk_75_bold {
    font-size: 62.5%;
    font-family: “Grotesk_75_Bold”;
}

.grotesk_65_Md {
    font-size: 62.5%;
    font-family: “Grotesk_65_Md”;
}