@font-face {
    font-family: Grotesk_45_ExLt;
    src: url(https://github.com/Cammie743/Fonts/blob/master/MyFonts/fonts/NHaasGroteskDSStd-35XLt.otf) format(opentype);
    font-style: normal;
}

@font-face {
    font-family: Grotesk_45_Lt;
    src: url(https://github.com/Cammie743/Fonts/blob/master/MyFonts/fonts/NHaasGroteskDSStd-45Lt.otf) format(opentype);
    font-style: normal;
}

@font-face {
    font-family: ‘Grotesk_55_Rg’;
    src: url(‘https://github.com/Cammie743/Fonts/blob/master/MyFonts/fonts/NHaasGroteskDSStd-55Rg.otf’) format(‘opentype’);
    font-style: normal;
}

@font-face {
    font-family: ‘Grotesk_65_Md’;
    src: url(‘https://github.com/Cammie743/Fonts/blob/master/MyFonts/fonts/NHaasGroteskDSStd-65Md.otf’) format(‘opentype’);
    font-style: normal;
}

@font-face {
    font-family: NHaasGroteskDSStd-75Bd;
    src: url(https://github.com/Cammie743/Fonts/blob/master/MyFonts/fonts/NHaasGroteskDSStd-75Bd.otf) format('otf');
    font-style: normal;
    font-weight: bold;
}

    
    
